page-checkout {
    button {
        border-bottom: 1px solid #F4F4F4;
    }

    textarea {
        height: 80px;
    }

    .cart-total {
        font-size: 28px;
        font-weight: bold;
        text-align: right;
    }
}
