.grid {
	padding: 0;
}

ion-grid {
	padding: 0;

	.row-container {
		border-top: 1px solid #FFFFFF;

		.icon-container {
			text-align: center;
			background-color: #387ef5;
			
			ion-icon {
				color: #FFFFFF;
				font-size: 30px;
				padding: 15px;
			}
		}

		p {
			padding: 15px;

			&.pricing-list {
				padding: 0 15px;
			}
		}
	}
}
